extends layout

block content
  .jumbotron.mt-0.row.bg-invert
    .row
      .col-12
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/') Home
          li.breadcrumb-item
            a(href='javascript:history.back()') Search Results
          li.breadcrumb-item.active=movie.title
    .row
      .col-3
        if (movie.poster_path)
          img.img-fluid.rounded(src=`http://image.tmdb.org/t/p/w342/${movie.poster_path}`)
        else
          img.img-fluid.rounded(src='/images/movie.jpeg')
      .col-9
        h1.display-4=movie.original_title
        p.lead=movie.directors.join(', ')
          |  &#8212; #{movie.release_date.slice(0,4)}
        p=movie.overview
        hr
        if songs
          p.lead Soundtracks:
          table.table.table-hover.table-bordered.table-striped
            thead
              tr
                th &#8212;
                th Song
                th Artist
                th Duration
            tbody
              each song, index in songs
                include ./includes/song
        else
          .alert.alert-danger(role='alert')
            strong Oh snap!
            |  We could not find any soundtrack for the movie are looking for!
    if createPlaylist
      .row
        .col-lg-6.offset-lg-3
          if createPlaylist.error
            .alert.alert-danger
              strong Oh oh! #{space}
              | Something went wrong when trying to create your playlist
          else 
            .alert.alert-success
              strong Hooray! #{space}
              | Your playlist was successfully exported. Check your Spotify!
